{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing

  - List of allocations passed in as 'allocations' array
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    {% for allocations, title in [(allocations_this_week, "This Week"), (allocations_next_week, "Next Week")] %}
        <article>
            <h2>Parade Roles {{ title }}</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Role (click for info)</th>
                        <th scope="col">Allocated to</th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td scope="row"><a href="/roles?role={{ allocation.role_id }}">{{ allocation.role_name }}</a></td>
                            {% if allocation.user_id == user_id %} {# If this role is allocated to the current user, show a button to de-allocate themselves #}

                                <td scope="row"><b>
                                    {{ allocation.user_name }}
                                    &nbsp;
                                    <a href="/allocate?remove=1&date={{ allocation.date }}&role={{ allocation.role_id }}">X</a>
                                </b></td>

                            {% elif allocation.user_id %} {# If this role has someone else allocated to it, show their name #}

                                <td scope="row">{{ allocation.user_name }}</td>

                            {% elif session.admin %} {# If this role has no-one allocated to it and the user is admin, show a button to allocate someone - dropdown #}

                                <td scope="row"><a href="/allocate?remove=0&date={{ allocation.date }}&role={{ allocation.role_id }}">Click to allocate</a></td>

                            {% else %} {# If this role has no-one allocated to it, show a button to allocate the current user #}

                                <td scope="row"><a href="/allocate?remove=0&date={{ allocation.date }}&role={{ allocation.role_id }}">Click to accept</a></td>

                            {% endif %}
                        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    {% endfor %}

{% endblock %}

