{#=====================================================
  Roles page
  - List of roles passed in as 'roles' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% set role_to_bold = request.args.get('role') | int %}
{% set role_to_edit = request.args.get('edit') | int %}

{% block title %}

    Parade Planner - Roles

{% endblock %}


{% block content %}

    <h1>Parade Roles</h1>

    {% for role in roles %}

        <article id="role_{{role.id}}"
            {# If the user clicked on a role link on the allocations page, bold it for clarity #}
            {% if role_to_bold == role.id %}
                class = "highlight"
            {% endif %}
        >

            {# If the user is editing this role, replace it with a form#}
            {% if role_to_edit == role.id %}
                <form action="/role_edit" method="POST">
                    <div class="flex">
                        {# Inputs are wrapped in divs to allow tooltips #}
                        <div class="input">
                            <input
                            
                                type="text"
                                name="name"
                                placeholder="Role Name"
                                value="{{role.name}}"
                                required
                            >
                        </div>

                        <div class = "input small" data-tooltip="Abbreviation">
                            <input
                                type="text"
                                name="abbreviation"
                                placeholder="Abrvn."
                                value="{{role.abbreviation}}"
                                required
                            >
                        </div>

                    </div>

                    <textarea
                        name="description"
                        placeholder="Role Description"
                        rows="3"
                        required
                    >{{role.description}}
                    </textarea>

                    <input type="hidden" id="role" name="role" value="{{ role.id }}">

                    <div class="flex buttons">
                        <button>Save</button>
                        <a role="button" class="cancel" href="/roles#role_{{role.id}}">Cancel</a>
                        <a role="button" class="delete" href="/role_delete?role={{ role.id }}">Delete</a>
                    </div>

                </form>
            {% else %}

                <div class="role_header">
                    <h3>
                        {{ role.name }}
                        {% if session.admin %} 
                            ({{ role.abbreviation}})
                        {% endif %}
                    </h3>

                    {% if session.admin and role.id != role_to_edit %} {# Don't show the edit button for a role already being edited#}
                        <a href="/roles?edit={{ role.id }}#role_{{role.id}}">Edit</a>
                    {% endif %}
                </div>

                <p>{{ role.description }}</p>
            {% endif %}


        </article>

    {% else %} {# If no roles have been defined #}

        <p>No parade roles exist at the moment.</p>

    {% endfor %}

    {# Only show form if user is an admin #}
    {% if session.admin %}

        <article>

            <h3>New Role</h3>

            <form action="/role_new" method="POST">

                <div class="flex">
                    {# Inputs are wrapped in divs to allow tooltips #}
                    <div class="input">
                        <input
                        
                            type="text"
                            name="name"
                            placeholder="Role Name"
                            required
                        >
                    </div>

                    <div class = "input small" data-tooltip="Abbreviation">
                        <input
                            type="text"
                            name="abbreviation"
                            placeholder="Abrvn."
                            required
                        >
                    </div>
                </div>

                <textarea
                    name="description"
                    placeholder="Role Description"
                    rows="3"
                    required
                ></textarea>

                <button>Submit</button>

            </form>

        </article>

    {% endif %}

{% endblock %}