{#=====================================================
  Roles page
  - List of roles passed in as 'roles' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% set role_to_bold = request.args.get('role') | int %}


{% block title %}

    Flask Demo - All Parade Roles

{% endblock %}


{% block content %}

    <h1>Parade Roles</h1>

    {% for role in roles %}

        <article
            {% if role_to_bold == role.id %}
                class = "highlight"
            {% endif %}
        >

            <h2>{{ role.name }}</h2>
            <p>{{ role.description }}</p>


        </article>

    {% else %} {# If no roles have been defined#}

        <p>No parade roles exist at the moment.</p>

    {% endfor %}

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add a New Thing...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of new thing"
                    required
                >

                <input
                    type="number"
                    name="price"
                    min="0"
                    placeholder="Price in dollars"
                    required
                >

                <button>Add the Thing</button>

            </form>

        </article>

    {% endif %}

{% endblock %}

