{#=====================================================
  Roles page
  - List of roles passed in as 'roles' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% set role_to_bold = request.args.get('role') | int %}


{% block title %}

    Flask Demo - All Parade Roles

{% endblock %}


{% block content %}

    <h1>Parade Roles</h1>

    {% for role in roles %}

        <article
            {% if role_to_bold == role.id %}
                class = "highlight"
            {% endif %}
        >

            <h3>{{ role.name }}</h3>
            <p>{{ role.description }}</p>


        </article>

    {% else %} {# If no roles have been defined#}

        <p>No parade roles exist at the moment.</p>

    {% endfor %}

    {# Only show form if user is an admin #}
    {% if session.admin %}

        <article>

            <h3>New Role</h3>

            <form action="/role" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Role Name"
                    required
                >

                <textarea
                    type="text"
                    name="description"
                    placeholder="Role Description"
                    rows="3"
                    required
                ></textarea>

                <button>Submit</button>

            </form>

        </article>

    {% endif %}

{% endblock %}

