{#=====================================================
  Unit Statistics Page
  - Shows a table of each user and how many times they've done each role over the past 10 weeks
  - Nested dictionary of {each user : {each role : allocation count}} passed in
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Parade Planner - Unit Stats

{% endblock %}


{% block content %}

<article>
    <h2>Unit Statistics | Past 10 Weeks</h2>

    {# Only show the table if at least one role exists, otherwise show an error message. #}
    {% if roles %}
        <p>Table shows number of times each user has done each role.</p>
        <div id="stats_table"> {# Wrap the table to allow for proper scroll behavior #}
            <table>
            
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        {# Print each role as a table column heading #}
                        {% for role in roles %}
                            <th data-tooltip="{{role.name}}" scope="col">{{role.abbreviation}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                
                <tbody>
                    {# Print each user and put their count of each allocation in the respective column #}
                    {% for user, roles in allocations_count.items() %}
                        <tr>
                            <td>{{ user }}</td>
                            {% for role, count in roles.items() %}
                                <td>{{ count }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    {% else %}
        <p>No parade roles exist at the moment.</p>
    {% endif %}
</article>

{% endblock %}

