{#=====================================================
 Personal Statistics Page
 - Allows the user to change their display name
 - Nested dictionary with a sub-dictionary for how many times and how many 
   weeks it's been since this user did each role passed in
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Parade Planner - Personal Stats

{% endblock %}


{% block content %}

<article>
    <h2>Display Name</h2>
    <form class="flex" action="/user_name_edit" method="POST">
        <input
        type="text"
        name="name"
        value="{{ session['user_name'] }}"
        placeholder="Display Name"
        required
        >
        <button style="width:12em;">Update Name</button>
    </form>
</article>

<article>
    <h2>Your Statistics | Past 10 Weeks</h2>
    {# Only show the table if at least one role exists, otherwise show an error message. #}
    {% if roles %}
    <table>

        <thead>
            <tr>
                <td>Role</td>
                <td>Count</td>
                <td>Last Done</td>
            </tr>
        </thead>

        <tbody>
            {% for name, role in allocations_count.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ role["count"] }}</td>
                    <td>{{ role["weeks_since"] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
        <p>No parade roles exist at the moment.</p>
    {% endif %}
</article>

{% endblock %}

