{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing

  - List of allocations passed in as 'allocations' array
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Parade Planner - Unit Stats

{% endblock %}


{% block content %}

{# What if no roles have been defined? #}
<article>
    <h2>Unit Statistics | Past 10 Weeks</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">User</th>
                {# Print each role as a table column heading #}
                {% for role in roles %}
                    <th scope="col">{{role.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        
        <tbody>
            {# Print each user and put their count of each allocation in the respective column #}
            {% for user, roles in allocations_count.items() %}
                <tr>
                    <td>{{ user }}</td>
                    {% for role, count in roles.items() %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% endblock %}

