/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
* {
    font-family: "roboto" !important;
}


body > * {
    width: min(800px, 100%);
    margin: auto;
}

h1, h2, h3 {
    font-family: "source serif 4" !important;
}


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

.highlight {
    background-color: var(--pico-text-selection-color);
}

.flex {
    display: flex !important;
}

.flex > * {
    margin-bottom: 0 !important;
    height: inherit !important;
}

#stats_table {
    table-layout: auto;
}

.role_header {
    display: flex;
    justify-content: space-between;
}

/* .heading_rotate {
    transform: rotate(-45deg);
    background-color: transparent;
} */