/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
* {
    font-family: "roboto" !important;
}

:root {
  color-scheme: light dark;
}

header {
    background-color: var(--pico-color-slate-800);
    padding: 0 !important;
}

nav, main {
    width: min(800px, 90%);
    margin: auto;
}

nav h2 {
    color: var(--pico-primary-inverse);
    margin: 0 !important;
}

h1, h2, h3 {
    font-family: "source serif 4" !important;
}

.small {
    width: 20% !important;
}

.large {
    width: 80% !important;
}

article, article footer {
    background-color: light-dark(#F3EBDA, var(--pico-card-background-color));
}


/* NAV -----------------------------------------*/

#menu {
    width: 6em;
}

.dropdown ul {
    width: 100px !important;
    left: auto !important;
}

@media (max-width: 1045px) {
    .dropdown ul {
        right: 5% !important;
    }
}

@media not (max-width: 1045px) {
    .dropdown ul {
        right: auto !important;
    }
}

details summary {
    background-color: transparent !important;
}


/* ALLOCATIONS ---------------------------*/

details {
    width: fit-content;
}

.allocation {
    margin-bottom: 0;
}

.allocation summary {
    padding: 0 !important;
    border: 0 !important;
    height: fit-content !important;
    color: var(--pico-primary) !important;
    background-color: transparent !important;
    text-decoration: underline;

}

.allocation ul {
    left: 0 !important;
}

table {
    table-layout: fixed;
}

table tr:first-child th:first-child {
    border-top-left-radius: var(--pico-border-radius);
}
    
table tr:first-child th:last-child {
    border-top-right-radius: var(--pico-border-radius);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: var(--pico-border-radius);
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: var(--pico-border-radius);
}







/* ROLES ---------------------------------------*/



.input {
    width: 100%;
}

.cancel {
    color: var(--pico-form-element-color);
    background-color: var(--pico-form-element-background-color);
    border-color: var(--pico-form-element-color);
}

.delete {
    background-color: var(--pico-color-red-600);;
    border-color: var(--pico-color-red-650);;
    right: 0;
}

.buttons {
    justify-content: space-between;
}

.buttons > a, .buttons > button {
    width: 30%;
}


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 10px auto -10px auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

.highlight {
    background-color: light-dark(var(--pico-color-sand-150), var(--pico-color-slate-800));
}

.flex {
    display: flex !important;
}

.flex > * {
    margin-bottom: 0 !important;
    height: inherit !important;
}

#stats_table {
    overflow-x: auto;
}

#stats_table table {
    table-layout: auto;
}

.role_header {
    display: flex;
    justify-content: space-between;
}